@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

<<<<<<< HEAD
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: black;
  }
=======
body {
  background-color: #070B19;
  font-weight: 600;
  font-size: 20px;
>>>>>>> e20faa32c07a5fdb1bcdb3d56c9d42aa57eda2e7
}
