@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #070B19;
  font-weight: 500;
  font-size: 20px;
  user-select: none;
}

.special-font {
  font-family: 'Montserrat Alternates', sans-serif;
}

.extra-bold {
  font-weight: 900;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.extra-large {
  font-weight: 900;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.normal-bold {
  font-weight: 700;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.semi-bold {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
